---
layout: default
---

{{ content }}

<hr id="listing"/>
<ul>
  {% for corpfund in site.data.corpfunds %}
    <li>
      <strong><a class="itemname" href="{{ corpfund.url }}">{{ corpfund.commonName }}</a></strong>  {{ corpfund.description }}<br/>
      <small>started: {{ corpfund.startDate }}
        {% if corpfund.platforms %} using platforms: {{ corpfund.platforms }}{% endif %}
        {% if corpfund.otherurl %} <a href="{{ corpfund.otherurl }}">See also</a>{% endif %}
      </small>
    </li>
  {% endfor %}
</ul>
